# Justice40

Exploratory data analysis of raw Justice40 census tracts.

#### Summary

The dataset contains all U.S. census tracts for 2010 (74,134 records), of which 27,248 are classified as a Justice40 community. There are 124 total columns, but the relevant ones appear to be the tract FIPS Code (`GEOID10`) and the disadvantaged indiator (`SN_C`). (For more information, please consult the data dictionary, "columns.csv", saved with the Shapefile.) The dataset uses a coordinate reference system (CRS) of EPSG:4326. It appears that some records have missing geometries and should therefore be filtered out.

#### Exploration

In [1]:
import geopandas as gpd

In [2]:
gdf = gpd.read_file("../data/raw/bonus/justice40/usa.zip")
gdf.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 74134 entries, 0 to 74133
Columns: 124 entries, GEOID10 to geometry
dtypes: float64(50), geometry(1), int64(65), object(8)
memory usage: 70.1+ MB

In [3]:
gdf.columns.tolist()

['GEOID10',
 'SF',
 'CF',
 'DF_PFS',
 'AF_PFS',
 'HDF_PFS',
 'DSF_PFS',
 'EBF_PFS',
 'EALR_PFS',
 'EBLR_PFS',
 'EPLR_PFS',
 'HBF_PFS',
 'LLEF_PFS',
 'LIF_PFS',
 'LMI_PFS',
 'PM25F_PFS',
 'HSEF',
 'P100_PFS',
 'P200_I_PFS',
 'AJDLI_ET',
 'LPF_PFS',
 'KP_PFS',
 'NPL_PFS',
 'RMP_PFS',
 'TSDF_PFS',
 'TPF',
 'TF_PFS',
 'UF_PFS',
 'WF_PFS',
 'UST_PFS',
 'N_WTR',
 'N_WKFC',
 'N_CLT',
 'N_ENY',
 'N_TRN',
 'N_HSG',
 'N_PLN',
 'N_HLTH',
 'SN_C',
 'SN_T',
 'DLI',
 'ALI',
 'PLHSE',
 'LMILHSE',
 'ULHSE',
 'EPL_ET',
 'EAL_ET',
 'EBL_ET',
 'EB_ET',
 'PM25_ET',
 'DS_ET',
 'TP_ET',
 'LPP_ET',
 'HRS_ET',
 'KP_ET',
 'HB_ET',
 'RMP_ET',
 'NPL_ET',
 'TSDF_ET',
 'WD_ET',
 'UST_ET',
 'DB_ET',
 'A_ET',
 'HD_ET',
 'LLE_ET',
 'UN_ET',
 'LISO_ET',
 'POV_ET',
 'LMI_ET',
 'IA_LMI_ET',
 'IA_UN_ET',
 'IA_POV_ET',
 'TC',
 'CC',
 'IAULHSE',
 'IAPLHSE',
 'IALMILHSE',
 'IALMIL_76',
 'IAPLHS_77',
 'IAULHS_78',
 'LHE',
 'IALHE',
 'IAHSEF',
 'N_CLT_EOMI',
 'N_ENY_EOMI',
 'N_TRN_EOMI',
 'N_HSG_EOMI',
 'N_PLN_EOMI',
 'N_WTR_EOMI',
 'N_HLTH_88',
 'N_WKFC_89',
 'FPL200S',
 'N_WKFC_91',
 'TD_ET',
 'TD_PFS',
 'FLD_PFS',
 'WFR_PFS',
 'FLD_ET',
 'WFR_ET',
 'ADJ_ET',
 'IS_PFS',
 'IS_ET',
 'AML_ET',
 'FUDS_RAW',
 'FUDS_ET',
 'IMP_FLG',
 'DM_B',
 'DM_AI',
 'DM_A',
 'DM_HI',
 'DM_T',
 'DM_W',
 'DM_H',
 'DM_O',
 'AGE_10',
 'AGE_MIDDLE',
 'AGE_OLD',
 'TA_COU_116',
 'TA_COUNT_C',
 'TA_PERC',
 'TA_PERC_FE',
 'UI_EXP',
 'THRHLD',
 'geometry']

In [4]:
gdf.head(2)

,GEOID10,SF,CF,DF_PFS,AF_PFS,HDF_PFS,DSF_PFS,EBF_PFS,EALR_PFS,EBLR_PFS,...,AGE_10,AGE_MIDDLE,AGE_OLD,TA_COU_116,TA_COUNT_C,TA_PERC,TA_PERC_FE,UI_EXP,THRHLD,geometry
0,01073001100,Alabama,Jefferson County,0.96,0.85,0.72,0.84,0.86,0.21,0.78,...,0.13,0.66,0.20,NaN,NaN,NaN,NaN,Nation,21,"POLYGON ((-86.88244 33.55233, -86.88187 33.552..."
1,01073001400,Alabama,Jefferson County,0.98,0.83,0.92,0.93,0.97,0.08,0.91,...,0.08,0.72,0.18,NaN,NaN,NaN,NaN,Nation,21,"POLYGON ((-86.84088 33.52759, -86.83782 33.528..."

In [6]:
gdf.crs

<Geographic 2D CRS: EPSG:4326>
Name: WGS 84
Axis Info [ellipsoidal]:
- Lat[north]: Geodetic latitude (degree)
- Lon[east]: Geodetic longitude (degree)
Area of Use:
- name: World.
- bounds: (-180.0, -90.0, 180.0, 90.0)
Datum: World Geodetic System 1984 ensemble
- Ellipsoid: WGS 84
- Prime Meridian: Greenwich

In [7]:
gdf.query("SN_C == 1")

,GEOID10,SF,CF,DF_PFS,AF_PFS,HDF_PFS,DSF_PFS,EBF_PFS,EALR_PFS,EBLR_PFS,...,AGE_10,AGE_MIDDLE,AGE_OLD,TA_COU_116,TA_COUNT_C,TA_PERC,TA_PERC_FE,UI_EXP,THRHLD,geometry
1,01073001400,Alabama,Jefferson County,0.98,0.83,0.92,0.93,0.97,0.08,0.91,...,0.08,0.72,0.18,NaN,NaN,NaN,NaN,Nation,21,"POLYGON ((-86.84088 33.52759, -86.83782 33.528..."
2,01073002000,Alabama,Jefferson County,0.98,0.97,0.94,0.76,0.93,0.08,0.64,...,0.15,0.71,0.12,NaN,NaN,NaN,NaN,Nation,21,"POLYGON ((-86.71390 33.53930, -86.71435 33.539..."
3,01073003802,Alabama,Jefferson County,0.95,0.91,0.62,0.79,0.97,0.07,0.90,...,0.14,0.72,0.13,NaN,NaN,NaN,NaN,Nation,21,"POLYGON ((-86.90317 33.47177, -86.90284 33.472..."
4,01073004000,Alabama,Jefferson County,0.99,0.96,0.96,0.86,0.98,NaN,0.95,...,0.06,0.68,0.24,NaN,NaN,NaN,NaN,Nation,21,"POLYGON ((-86.85463 33.48754, -86.85554 33.486..."
5,01073005101,Alabama,Jefferson County,0.99,0.99,0.98,0.91,0.99,NaN,0.95,...,0.30,0.62,0.07,NaN,NaN,NaN,NaN,Nation,21,"POLYGON ((-86.83454 33.49894, -86.83439 33.499..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
74108,78010970800,Virgin Islands,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Island Areas,3,"POLYGON ((-64.77902 17.74375, -64.77886 17.743..."
74109,78010970900,Virgin Islands,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Island Areas,3,"POLYGON ((-64.82981 17.72959, -64.82980 17.729..."
74111,78010971100,Virgin Islands,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Island Areas,3,"POLYGON ((-64.86086 17.70709, -64.86077 17.706..."
74113,78010971300,Virgin Islands,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Island Areas,3,"POLYGON ((-64.84802 17.69677, -64.84837 17.696..."
74131,78030961200,Virgin Islands,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Island Areas,3,"POLYGON ((-64.92645 18.33021, -64.92883 18.328..."

In [8]:
gdf[gdf.geometry.isna()]

,GEOID10,SF,CF,DF_PFS,AF_PFS,HDF_PFS,DSF_PFS,EBF_PFS,EALR_PFS,EBLR_PFS,...,AGE_10,AGE_MIDDLE,AGE_OLD,TA_COU_116,TA_COUNT_C,TA_PERC,TA_PERC_FE,UI_EXP,THRHLD,geometry
501,01097990000,Alabama,Mobile County,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Nation,21,None
773,01003990000,Alabama,Baldwin County,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Nation,21,None
3746,06017990000,California,El Dorado County,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Nation,21,None
4270,06037990100,California,Los Angeles County,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Nation,21,None
4271,06037990300,California,Los Angeles County,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Nation,21,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
74100,69120990000,Northern Mariana Islands,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Island Areas,3,None
74116,78010990000,Virgin Islands,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Island Areas,3,None
74119,78020990000,Virgin Islands,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Island Areas,3,None
74132,78030990000,Virgin Islands,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Island Areas,3,None
74133,36085008900,New York,Richmond County,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Nation,21,None