This notebook is not really cleaned up, but it was used to run a sensitivity analysis on the differing population methodologies for the Climate Cabinet IRA map.

In [3]:
import geopandas as gpd
import pandas as pd
from shapely.geometry import Point
from statsmodels

In [1]:
ALBERS = 9822
NAD = 4269

DATA_FOLDER = '../data/'
GEOGRAPHIES_FOLDER = DATA_FOLDER + "clean/"

# Census data
BLOCK_GROUPS_CENTROID = DATA_FOLDER + 'CenPop2020_Mean_BG.txt'
BLOCK_GROUPS = DATA_FOLDER + 'census_block_group_pop.geoparquet'
TRACTS = DATA_FOLDER + 'census_tract_pop.geoparquet'
TRACTS_CENTROID = DATA_FOLDER + 'CenPop2020_Mean_TR.txt'

# Targets
RURAL_COOPS = DATA_FOLDER + 'rural_coops.geoparquet' # abnormal
MUNICIPAL = DATA_FOLDER + 'municipal_utils.geoparquet' # abnormal
COUNTIES = DATA_FOLDER + 'county_clean.geoparquet' # should follow tracts

# Bonus territories
DISTRESSED_COMMUNITIES = DATA_FOLDER + 'dci_clean.geoparquet' # abnormal
LOW_INCOME = DATA_FOLDER + 'low_income_tracts_filtered.geoparquet' # should follow tracts
J40 = DATA_FOLDER + 'justice40.geoparquet' # should follow tracts
FOSSIL = DATA_FOLDER + 'ffe.geoparquet' # could be a census tract or a metropolitan statistical area
COAL = DATA_FOLDER + 'coal_closure.geoparquet' # could be a census tract or a metropolitan statistical area

In [4]:
gdf_tracts = gpd.read_parquet(TRACTS).to_crs(ALBERS)

In [5]:
gdf_blocks = gpd.read_parquet(BLOCK_GROUPS).to_crs(ALBERS)

In [6]:
df_tracts_c = pd.read_csv(TRACTS_CENTROID)
df_tracts_c['geometry'] = df_tracts_c.apply(lambda row: Point(row['LONGITUDE'], row['LATITUDE']), axis=1)
gdf_tracts_c = gpd.GeoDataFrame(df_tracts_c)
gdf_tracts_c.crs = NAD
gdf_tracts_c = gdf_tracts_c.to_crs(ALBERS)

In [7]:
df_blocks_c = pd.read_csv(BLOCK_GROUPS_CENTROID)
df_blocks_c['geometry'] = df_blocks_c.apply(lambda row: Point(row['LONGITUDE'], row['LATITUDE']), axis=1)
gdf_blocks_c = gpd.GeoDataFrame(df_blocks_c)
gdf_blocks_c.crs = NAD
gdf_blocks_c = gdf_blocks_c.to_crs(ALBERS)

In [17]:
# Abnormal geographies: distressed communities, coops, municipal electric utilities
# What about energy communities?
# Do counties also as a sanity check
# Should follow tracts: J40, low income
gdf_dci = gpd.read_parquet(DISTRESSED_COMMUNITIES).to_crs(ALBERS)
gdf_li = gpd.read_parquet(LOW_INCOME).to_crs(ALBERS)
gdf_j40 = gpd.read_parquet(J40).to_crs(ALBERS)
gdf_ffe = gpd.read_parquet(FOSSIL).to_crs(ALBERS)
gdf_coal = gpd.read_parquet(COAL).to_crs(ALBERS)
gdf_mun = gpd.read_parquet(MUNICIPAL).to_crs(ALBERS)
gdf_county = gpd.read_parquet(COUNTIES).to_crs(ALBERS)
gdf_coops = gpd.read_parquet(RURAL_COOPS).to_crs(ALBERS)

In [18]:
len(gdf_dci), len(gdf_mun), len(gdf_coops)

(5212, 1938, 812)

In [9]:
gdf_dci.head(2)

,zip_code,metro_area,city,county,state,state_abbr,region,cty_type,total_pop,dist_score,quintile,geoid,area_land,area_water,lat,lon,geometry,simple_boundary
0,1009,"Springfield, MA","Palmer Town, MA","Hampden County, Massachusetts",Massachusetts,MA,Northeast,Small urban,649,82.911854,5,1009.0,1806483.0,0.0,+42.2113859,-072.3418086,"POLYGON ((-3749787.975 3788590.546, -3749625.5...","POLYGON ((-72.35284 42.20543, -72.34296 42.218..."
1,1040,"Springfield, MA","Holyoke, MA","Hampden County, Massachusetts",Massachusetts,MA,Northeast,Small urban,40161,91.868452,5,1040.0,54816657.0,4226508.0,+42.2116578,-072.6424476,"POLYGON ((-3766852.767 3810651.635, -3766851.1...","POLYGON ((-72.69046 42.21306, -72.65654 42.227..."

In [10]:
gdf_mun.head(2)

,ID,NAME,ADDRESS,CITY,ST_Code,ZIP,TELEPHONE,TYPE,COUNTRY,NAICS_CODE,...,TRANS_MWH,CUSTOMERS,YEAR,Shape__Are,Shape__Len,State,area,Type_1,geometry,simple_boundary
0,1000,CITY OF AUGUSTA - (AR),NOT AVAILABLE,NOT AVAILABLE,AR,NOT AVAILABLE,NOT AVAILABLE,MUNICIPAL,USA,2211,...,-999999,916,2020,0.152271,2.625553,Arkansas,2.308823e+09,Municipal/Public Utility,"POLYGON ((-5278797.041 4757879.683, -5278746.4...","POLYGON ((-91.34713 35.43899, -91.25296 35.445..."
1,1002,CITY OF AURELIA - (IA),NOT AVAILABLE,NOT AVAILABLE,IA,NOT AVAILABLE,NOT AVAILABLE,MUNICIPAL,USA,2211,...,-999999,518,2020,0.164284,1.639697,Iowa,2.771736e+09,Municipal/Public Utility,"POLYGON ((-4695466.747 5466293.520, -4695194.8...","POLYGON ((-95.85936 42.90908, -95.38814 42.909..."

In [11]:
gdf_county.head(2)

,STATEFP,COUNTYFP,County,ALAND,AWATER,INTPTLAT,INTPTLON,State,geometry,simple_boundary
0,31,039,Cuming County,1477645345,10690204,+41.9158651,-096.7885168,Nebraska,"POLYGON ((-4825667.406 5513810.893, -4825582.0...","POLYGON ((-97.01952 42.00410, -97.01936 42.090..."
1,53,069,Wahkiakum County,680976231,61568965,+46.2946377,-123.4244583,Washington,"POLYGON ((-4892810.695 7670833.790, -4891600.9...","POLYGON ((-123.43639 46.23820, -123.47964 46.2..."

In [12]:
gdf_blocks.head(2)

,STATEFP_x,COUNTYFP_x,TRACTCE_x,BLKGRPCE_x,GEOID,NAMELSAD,MTFCC,FUNCSTAT,ALAND,AWATER,INTPTLAT,INTPTLON,geometry,STATEFP_y,COUNTYFP_y,TRACTCE_y,BLKGRPCE_y,POPULATION,LATITUDE,LONGITUDE
0,40,135,030201,1,401350302011,Block Group 1,G5030,S,101177851,696261,+35.5958901,-094.9482992,"POLYGON ((-5415010.265 5071763.046, -5414947.6...",40,135,30201,1,1395,35.602814,-94.976367
1,40,135,030101,1,401350301011,Block Group 1,G5030,S,45719893,485726,+35.4855356,-094.8413282,"POLYGON ((-5417259.558 5049917.863, -5417167.4...",40,135,30101,1,903,35.505339,-94.811951

### Test that Methodologies are the Same

In [37]:
effect_size = 0.1
alpha = 0.05
power = 0.9

# Calculate sample size for paired t-test
sample_size = smp.TTestPower().solve_power(effect_size=effect_size, 
                                           alpha=alpha, 
                                           power=power, 
                                           alternative='two-sided')

print(f"Required sample size: {sample_size:.2f}")

Required sample size: 1052.66

In [32]:
sample_size = 1100
area = []
centroid = []
for idx, row in gdf_dci.sample(n=sample_size).iterrows():
    # print(f"========Coal Tract ID: {row.TractID}========")
    # print(f"========Utility Name: {row.NAME}========")
    # print(f"========County: {row.County}========")
    # print(f"========DCI Name: {row.geoid}========")

    # Calculate using area allocation for tract
    # gdf_tracts['intersections'] = gpd.GeoSeries(gdf_tracts['geometry'].intersection(row.geometry))
    # result = gdf_tracts.loc[~gdf_tracts['intersections'].is_empty, ['total_pop', 'intersections', 'geometry']]
    # result['allocated_pop'] = result.total_pop * result.intersections.area/result.geometry.area
    # tract_area_pop = result.allocated_pop.sum()
    # area.append(tract_area_pop)
    # # print(f"Tract Area: {tract_area_pop}")

    # # Calculate using tract population weighted centroid
    # gdf_tracts_c['is_within'] = gdf_tracts_c['geometry'].apply(lambda geom: geom.within(row.geometry))
    # result = gdf_tracts_c[gdf_tracts_c['is_within']]
    # tract_centroid_pop = result.POPULATION.sum()
    # # print(f"Tract Centroid: {tract_centroid_pop}")

    # Calculate using block group area
    gdf_blocks['intersections'] = gpd.GeoSeries(gdf_blocks['geometry'].intersection(row.geometry))
    result = gdf_blocks.loc[~gdf_blocks['intersections'].is_empty, ['POPULATION', 'intersections', 'geometry']]
    result['allocated_pop'] = result.POPULATION * result.intersections.area/result.geometry.area
    block_area_pop = result.allocated_pop.sum()
    # print(f"Census Block Area: {tract_area_pop}")
    area.append(block_area_pop)

    # Calculate using block group weighted centroid
    gdf_blocks_c['is_within'] = gdf_blocks_c['geometry'].apply(lambda geom: geom.within(row.geometry))
    result = gdf_blocks_c[gdf_blocks_c.is_within]
    block_centroid_pop = result.POPULATION.sum()
    # print(f"Block Centroid: {block_centroid_pop}")
    centroid.append(block_centroid_pop)

In [33]:
centroid

[22827,
 3866,
 1377,
 8793,
 795,
 1472,
 3879,
 5451,
 636,
 13317,
 775,
 4890,
 5729,
 698,
 5024,
 1460,
 2296,
 19054,
 7209,
 2036,
 11783,
 1213,
 4157,
 0,
 3123,
 676,
 9237,
 16018,
 1034,
 4552,
 985,
 3149,
 2126,
 1518,
 978,
 42163,
 13757,
 2906,
 0,
 2964,
 1493,
 1444,
 24607,
 8851,
 21751,
 18278,
 2571,
 0,
 7600,
 3868,
 1391,
 6870,
 55419,
 15075,
 8586,
 28190,
 616,
 533,
 35164,
 14537,
 4757,
 41449,
 1498,
 11170,
 32763,
 29322,
 2374,
 6408,
 9305,
 20578,
 24464,
 5691,
 13588,
 5408,
 18609,
 3159,
 15496,
 11670,
 7837,
 0,
 8436,
 2822,
 14540,
 1546,
 0,
 1940,
 5072,
 5007,
 661,
 7684,
 5898,
 3665,
 25427,
 2183,
 2000,
 3076,
 2648,
 1610,
 573,
 24596,
 15616,
 22910,
 890,
 12655,
 10613,
 3622,
 31276,
 2782,
 10840,
 4116,
 9648,
 5416,
 2006,
 17262,
 1221,
 2589,
 2467,
 1619,
 0,
 2098,
 7119,
 20510,
 1175,
 11362,
 749,
 40529,
 1296,
 7894,
 50379,
 13270,
 2634,
 9333,
 5176,
 8926,
 3937,
 36319,
 1010,
 2698,
 3372,
 1127,
 2528,
 7848,
 7937,
 2263,
 790,
 0,
 2328,
 911,
 39368,
 33338,
 1465,
 2840,
 1414,
 2887,
 3927,
 4127,
 3730,
 0,
 1398,
 1293,
 31515,
 18717,
 19539,
 14110,
 1055,
 6924,
 4514,
 39218,
 750,
 834,
 4575,
 1945,
 55266,
 1533,
 24482,
 1863,
 2429,
 4579,
 34726,
 4239,
 14560,
 0,
 2654,
 1679,
 16867,
 11910,
 2372,
 26088,
 32139,
 825,
 655,
 828,
 1242,
 1993,
 4752,
 1700,
 0,
 28064,
 4770,
 3001,
 7346,
 848,
 516,
 999,
 45397,
 0,
 2833,
 849,
 3465,
 3348,
 1312,
 31018,
 2048,
 0,
 23602,
 6943,
 1464,
 2177,
 10571,
 1750,
 19579,
 700,
 6196,
 3948,
 515,
 11677,
 935,
 2142,
 930,
 27339,
 8429,
 19963,
 1422,
 946,
 23448,
 7482,
 3438,
 1099,
 2261,
 2968,
 1311,
 19503,
 2711,
 817,
 650,
 1600,
 66721,
 593,
 31302,
 1588,
 12508,
 0,
 7926,
 1126,
 5486,
 5769,
 1067,
 3055,
 9101,
 3919,
 4787,
 1992,
 1366,
 57310,
 1724,
 4704,
 3464,
 1294,
 7825,
 1129,
 873,
 578,
 4547,
 1010,
 4559,
 793,
 2156,
 24667,
 802,
 1041,
 958,
 3812,
 5117,
 2592,
 1289,
 9732,
 10632,
 1120,
 12929,
 2582,
 7191,
 574,
 5511,
 878,
 3848,
 2002,
 3372,
 9842,
 33689,
 11295,
 8387,
 7754,
 1233,
 32659,
 2018,
 2805,
 1249,
 38062,
 0,
 11202,
 1993,
 12121,
 1752,
 1665,
 4104,
 3172,
 7371,
 1872,
 537,
 4895,
 3982,
 945,
 1245,
 13146,
 11340,
 0,
 0,
 7283,
 5144,
 5572,
 3034,
 8052,
 13150,
 2706,
 749,
 4631,
 19678,
 0,
 31279,
 4072,
 11047,
 1696,
 1531,
 1472,
 6864,
 916,
 32926,
 2696,
 10685,
 31251,
 0,
 3296,
 18470,
 5695,
 2472,
 876,
 50508,
 0,
 6581,
 4809,
 986,
 26383,
 8231,
 1090,
 5939,
 2680,
 28912,
 1843,
 33929,
 22583,
 2359,
 8490,
 1105,
 1669,
 4373,
 1481,
 0,
 2698,
 1209,
 1557,
 2407,
 1006,
 0,
 12204,
 667,
 8700,
 19400,
 11526,
 1040,
 25360,
 1503,
 6048,
 9969,
 14164,
 4728,
 8457,
 10247,
 5792,
 4139,
 781,
 878,
 1766,
 2427,
 1583,
 3276,
 2389,
 1109,
 25253,
 29034,
 1780,
 1477,
 7206,
 2120,
 5025,
 19237,
 17737,
 2466,
 3913,
 0,
 807,
 4521,
 17303,
 3701,
 987,
 1187,
 10583,
 2388,
 2446,
 11095,
 53815,
 3682,
 17391,
 13483,
 1118,
 7748,
 1689,
 1933,
 0,
 15926,
 11719,
 1401,
 2936,
 750,
 610,
 2561,
 11514,
 33350,
 8325,
 0,
 3439,
 30306,
 2893,
 30573,
 24325,
 28873,
 0,
 5289,
 1695,
 34852,
 1027,
 25175,
 17670,
 2405,
 15627,
 3077,
 3957,
 8020,
 2547,
 1418,
 7670,
 2180,
 46765,
 3001,
 9185,
 14149,
 4238,
 3481,
 4102,
 20686,
 10533,
 779,
 5832,
 9022,
 0,
 2379,
 2624,
 11217,
 5610,
 51028,
 51287,
 13563,
 961,
 4455,
 26352,
 903,
 4022,
 44585,
 22070,
 15622,
 1893,
 48610,
 3339,
 3749,
 100772,
 14547,
 1100,
 8286,
 0,
 22030,
 6654,
 19444,
 16219,
 16927,
 7852,
 2910,
 19045,
 9854,
 18748,
 12014,
 1245,
 11083,
 2123,
 6540,
 13033,
 0,
 646,
 15127,
 16478,
 29098,
 3237,
 0,
 0,
 1007,
 2273,
 3287,
 4425,
 0,
 7364,
 70833,
 3793,
 2760,
 6057,
 1611,
 1746,
 8006,
 5205,
 1326,
 1114,
 1519,
 3389,
 12058,
 0,
 61447,
 23434,
 2084,
 1350,
 40625,
 5443,
 38531,
 794,
 2529,
 41670,
 82161,
 31093,
 0,
 4225,
 4498,
 3599,
 1959,
 1504,
 1527,
 0,
 985,
 32997,
 2367,
 1048,
 642,
 13259,
 1705,
 2117,
 1320,
 0,
 4791,
 4441,
 4234,
 12331,
 797,
 1681,
 547,
 2025,
 8206,
 15401,
 983,
 630,
 0,
 0,
 21073,
 6604,
 1111,
 7469,
 1174,
 2249,
 0,
 11107,
 705,
 7555,
 1374,
 6239,
 16478,
 4171,
 11725,
 1735,
 6043,
 16802,
 876,
 1865,
 9259,
 13475,
 3772,
 38365,
 1575,
 0,
 9078,
 22155,
 2684,
 0,
 4587,
 957,
 5348,
 28646,
 3097,
 16139,
 29861,
 1610,
 39124,
 840,
 2458,
 4655,
 3631,
 16823,
 14482,
 0,
 29924,
 7900,
 2533,
 6206,
 8987,
 6846,
 0,
 2050,
 10487,
 1436,
 1754,
 1007,
 1026,
 0,
 7669,
 1461,
 1313,
 2654,
 2281,
 7253,
 2555,
 0,
 5218,
 11477,
 32288,
 55621,
 3025,
 13430,
 38052,
 2477,
 4178,
 776,
 2166,
 2562,
 2162,
 0,
 4348,
 2168,
 11880,
 1906,
 1545,
 3678,
 37460,
 4153,
 1162,
 999,
 25343,
 24695,
 0,
 1192,
 11716,
 1796,
 1896,
 2046,
 0,
 1309,
 8422,
 3828,
 1707,
 967,
 1771,
 8011,
 6145,
 4274,
 2461,
 967,
 3293,
 1493,
 2064,
 10391,
 5320,
 4911,
 1372,
 19353,
 27237,
 12638,
 1808,
 2343,
 28247,
 10044,
 2777,
 2488,
 509,
 20173,
 11072,
 13654,
 9069,
 4624,
 7824,
 21247,
 1138,
 17320,
 1403,
 7929,
 2736,
 4714,
 3271,
 26419,
 4843,
 20925,
 624,
 26418,
 474,
 3366,
 3635,
 3139,
 30092,
 28079,
 1536,
 40694,
 1437,
 6904,
 35288,
 834,
 4062,
 4965,
 12493,
 23641,
 1424,
 8064,
 21818,
 2881,
 21715,
 990,
 36369,
 2355,
 33530,
 56034,
 4080,
 6631,
 11508,
 3786,
 4455,
 4932,
 36957,
 4912,
 55990,
 10602,
 4893,
 1465,
 4030,
 1299,
 30717,
 4871,
 2868,
 8613,
 6848,
 1673,
 1469,
 1744,
 751,
 4922,
 3823,
 2624,
 7814,
 3549,
 4309,
 19864,
 29092,
 0,
 19317,
 56772,
 2701,
 1390,
 3581,
 1072,
 49671,
 1055,
 19607,
 3805,
 2542,
 2439,
 9064,
 9159,
 0,
 2209,
 1295,
 56883,
 13640,
 3008,
 14888,
 16423,
 31130,
 19526,
 0,
 4274,
 6456,
 1540,
 1964,
 0,
 21405,
 3549,
 2837,
 1690,
 0,
 26264,
 2148,
 5279,
 1588,
 9279,
 22402,
 1590,
 4780,
 4646,
 0,
 0,
 3528,
 2527,
 12708,
 1767,
 551,
 34407,
 1430,
 489,
 24407,
 731,
 25864,
 2747,
 2016,
 12313,
 610,
 8052,
 8901,
 2641,
 2113,
 624,
 1943,
 894,
 2559,
 3317,
 1740,
 29226,
 6959,
 4517,
 29364,
 10981,
 0,
 12991,
 0,
 2575,
 4398,
 1069,
 2080,
 1126,
 0,
 1612,
 16183,
 1218,
 0,
 4700,
 810,
 3189,
 1719,
 4367,
 0,
 1466,
 4759,
 685,
 12548,
 57873,
 48560,
 11394,
 2331,
 4496,
 14103,
 0,
 1400,
 546,
 16930,
 53371,
 1059,
 34705,
 7009,
 77163,
 14343,
 1369,
 860,
 4297,
 1971,
 815,
 1239,
 1006,
 0,
 3370,
 957,
 39946,
 3880,
 32407,
 4294,
 930,
 3151,
 21394,
 1070,
 3880,
 1812,
 553,
 2541,
 2775,
 39584,
 3601,
 980,
 11405,
 1343,
 43143,
 2708,
 7082,
 0,
 8231,
 8249,
 3564,
 8723,
 4511,
 0,
 34127,
 3943,
 10050,
 2108,
 11690,
 755,
 1332,
 0,
 9200,
 4808,
 12143,
 9004,
 4360,
 1221,
 17261,
 596,
 3997,
 7350,
 3378,
 23966,
 582,
 30844,
 797,
 11429,
 26061,
 41617,
 1365,
 8189,
 0,
 0,
 43471,
 2010,
 1925,
 2333,
 912,
 16880,
 6971,
 1657,
 28930,
 14557,
 787,
 18232,
 729,
 1589,
 3983,
 ...]

In [34]:
area

[20202.889488450288,
 6591.81626176692,
 940.0756500003961,
 8398.089975880615,
 1507.9395444371662,
 1671.4183964113165,
 4184.585450562567,
 5880.322469581605,
 1201.5869146034513,
 14176.793672491372,
 848.1355927804423,
 5154.32039612241,
 5682.271562527868,
 390.4963407207979,
 8065.833552112074,
 3035.1819614661326,
 1777.3632949020919,
 18231.144170312018,
 7210.419198152427,
 2070.7519296243136,
 11065.909370758196,
 1001.8111537192389,
 4211.4191069902245,
 656.8316547966778,
 2918.1788237679357,
 1484.7559590701235,
 9017.469920929905,
 14547.983944148997,
 823.9698517225816,
 4310.279896370388,
 662.9392248756787,
 2928.0508355994734,
 4628.841451504277,
 1130.1119739408714,
 1944.7455249176014,
 42207.70267200461,
 14649.091749427549,
 2361.168722986308,
 375.36374840246697,
 2456.7019742372804,
 1870.2119844904012,
 909.7071778524745,
 24746.69484315642,
 12880.464095927633,
 20082.604980934888,
 19337.5238777826,
 3447.794002089347,
 833.7188617715317,
 7567.694741636627,
 2789.798078425324,
 3245.69232491607,
 7915.729099127789,
 54124.591810535756,
 15888.090332970149,
 6539.397190593738,
 28715.712559320546,
 1087.6560200456174,
 1359.8508349896254,
 33541.68018333925,
 15260.950166237953,
 4007.8071500890683,
 40343.36129026362,
 1112.0553149836164,
 10030.90536499172,
 35548.11709218869,
 29216.520592184777,
 2099.1772788512853,
 10115.273856691849,
 9309.895831686845,
 20956.46018221887,
 22689.33867799323,
 6949.152415385859,
 13188.263585990588,
 6199.029998282586,
 18458.126338697177,
 4910.970171327631,
 15469.675968114076,
 12116.637208826603,
 4705.979614932179,
 62.740860063400035,
 8444.125732155302,
 2882.978969923547,
 14053.682477571178,
 2091.11489088226,
 1.229794662578755,
 2479.5294883251186,
 3511.6152403183382,
 5833.5351013799755,
 1109.053976608668,
 7910.178761479183,
 6510.639368461658,
 4048.0699820335076,
 24402.838332748404,
 1921.6616577960485,
 2152.4082564602422,
 3382.292122687108,
 2073.5792106067806,
 1832.2278408621935,
 659.5347710925652,
 24449.573585370745,
 15756.30664494933,
 24754.331982082425,
 478.7545550633134,
 15951.640929405048,
 10688.565204108108,
 1472.1580457278887,
 31017.809105039298,
 2167.8369785689815,
 10089.405399844894,
 4031.109030819597,
 9517.281897850335,
 6980.835772215474,
 1595.4433624928913,
 17102.572825460375,
 1570.1185074962173,
 3897.5722726443055,
 1143.0631563798586,
 1725.8063636980332,
 586.2272473885095,
 1629.7549704755568,
 7751.52543068192,
 19597.55604322339,
 549.4043026051012,
 11574.578572652177,
 1076.5201349812835,
 40484.84627631361,
 1322.1346162227658,
 7898.3487100918155,
 51239.6826410948,
 13197.511022106002,
 2984.890300492749,
 11331.720186418886,
 6679.444756046346,
 6757.680633338675,
 4699.987672230802,
 36337.44787862776,
 1428.732011842506,
 2621.0386667565413,
 3442.2784912022803,
 948.7874789008063,
 2333.7891538038293,
 8659.717046407586,
 7850.212418384711,
 2480.1649937323846,
 246.36141163742064,
 786.7119393448276,
 2576.6112301486933,
 1210.9229902571565,
 40419.465438556676,
 34171.199245519514,
 1359.6237649802054,
 2903.111557126721,
 1320.3472270308869,
 2531.478702952507,
 2229.398589173261,
 4443.2781340431675,
 4855.638896176043,
 1800.1711158243522,
 810.6506961500095,
 1551.1658795799071,
 28403.25176902106,
 17575.84253824068,
 17335.55175942196,
 13899.148656082136,
 415.09879063772365,
 5596.887357142745,
 4361.808708158992,
 39573.572466483674,
 764.9106916907147,
 1201.1865096114964,
 3710.3725279881887,
 1367.5662497735411,
 56572.50703011756,
 1911.814688659259,
 23565.226760346097,
 2190.7344037724697,
 2427.9109706912177,
 3094.805419999736,
 31128.872093211612,
 4306.2651196943225,
 15832.788191602027,
 404.3605125354467,
 2022.4148854948905,
 1894.345102568713,
 15870.844235536682,
 9787.265842771281,
 4330.385342363984,
 26087.999999999523,
 32106.83528556818,
 1554.8502761159837,
 1865.5170205587556,
 696.2533506782761,
 2186.1462175256793,
 1591.4156223049008,
 4865.854552482826,
 1788.096062741218,
 503.4653268430928,
 28592.387321787115,
 4775.138255736078,
 4197.485642323237,
 6251.474397868681,
 1078.3216225345361,
 828.734790597125,
 1979.0012809246696,
 46592.56899947656,
 873.9563583616789,
 3558.129518601175,
 639.9847805981886,
 3520.629940978417,
 3053.7151439428167,
 1612.8008681425144,
 31525.93188270855,
 859.1639110666034,
 683.6750385881319,
 24148.730836286497,
 5756.119897038709,
 1705.6526695701148,
 2544.195140580893,
 9007.01742807898,
 1020.6746253797183,
 22129.525717868317,
 243.16941971627534,
 6898.207297714307,
 3896.8908430963484,
 74.00779863738707,
 7868.240831183055,
 740.9627391570635,
 1680.0645480358976,
 1332.9740357688918,
 27617.1880953758,
 8688.210441064273,
 19042.680029330913,
 1460.3946592652956,
 2306.2709639108866,
 21507.741634654623,
 5654.464607041726,
 1981.4557625213517,
 1113.4157783776577,
 3933.0194363684413,
 3058.413527343138,
 1422.5370186351356,
 19350.472672190164,
 2814.172550756539,
 1814.154307626614,
 925.9967975520963,
 1599.84267110962,
 68012.70422385634,
 519.3366929915835,
 31203.740154791984,
 1708.4282517118952,
 14803.085474699043,
 1267.079304896997,
 6658.626968747698,
 2045.1561123716833,
 6181.693842931555,
 2950.2966922247347,
 305.5163089987367,
 4003.445187099342,
 8028.819880526477,
 3502.3903712272104,
 6236.6716053332075,
 2116.2158007048733,
 1218.5673376813668,
 56937.65661634139,
 3626.2939885628184,
 2471.649239885557,
 2624.568800794953,
 1804.3774875917961,
 5850.224142430887,
 1334.3886725847024,
 951.6401539939794,
 1872.265275501195,
 2244.544855621467,
 1307.7238338151744,
 3779.953286839343,
 585.571831674979,
 3020.1519720874808,
 23813.40811563319,
 1438.8942805143624,
 1914.9708339300457,
 665.6531197441946,
 2672.557192158835,
 5893.063700966633,
 1953.4134727659266,
 811.6095574567809,
 8219.892230394173,
 9110.325940487379,
 776.6779841391319,
 12499.071899794624,
 1569.968980896402,
 8212.755071455387,
 413.9840845425102,
 6665.842013602332,
 608.4279069511852,
 2977.637826423399,
 1466.3867468331975,
 3940.6726276566574,
 11591.58018670544,
 32916.814479926295,
 13082.876633117232,
 9705.915314917012,
 7781.5046514414025,
 2527.022209496865,
 33869.93100259792,
 2562.513127456021,
 1290.033926032726,
 931.43104802759,
 37222.44867067582,
 263.6612050115664,
 13305.630306179666,
 1425.9904431974612,
 9541.142190376928,
 1538.3977300838606,
 1644.4896901715208,
 2990.55226995064,
 1998.6831459861764,
 7044.185144798396,
 2551.661240906783,
 1251.5225596712066,
 5259.20403698972,
 3852.2178303233104,
 2420.3168943165756,
 1045.2833206960672,
 13985.468509507033,
 10932.22863124505,
 962.3628798854995,
 135.04373048972474,
 6643.64553774018,
 5525.7376872495615,
 5515.7940753980965,
 2465.827486338495,
 7711.839193526492,
 13102.935458279206,
 2859.9384982541487,
 431.60228269102316,
 3601.1010212245874,
 19562.12583896573,
 333.83906420349297,
 31407.931647237576,
 5423.9620761522,
 11494.347738391212,
 1136.70980658499,
 1545.00089787969,
 1258.8819298140209,
 7650.844271801369,
 684.4919762982748,
 32702.45258125129,
 1874.4417704908915,
 9684.296377724651,
 31745.73214007904,
 920.6301998760131,
 5137.569375981765,
 17441.942881683335,
 6453.965488704485,
 1692.0905568455885,
 1227.0382772660535,
 50838.79982154824,
 47.471417838083326,
 6712.7426666015845,
 5006.429095991782,
 931.3946445380159,
 25990.756936034817,
 6483.358932265453,
 1562.3349420242962,
 4694.7145866547835,
 2032.0153779271252,
 27539.380942298583,
 2325.207524463976,
 34057.504686393244,
 22580.42111130923,
 1827.7057356817172,
 10213.690392595214,
 1331.0745588923105,
 1328.0061020428236,
 1931.423599007701,
 2179.5022309097185,
 624.4290894001327,
 1675.9324196591776,
 1641.376875018194,
 1557.0000000004213,
 3421.9273858951674,
 158.3948156224631,
 523.0666222529417,
 12148.596507881279,
 466.0045970140506,
 8513.857163718241,
 19556.07621010905,
 10856.689369949625,
 1040.4871548375163,
 24153.590594258352,
 1580.2379369443677,
 9719.06222666214,
 8736.94695059748,
 12817.526022005286,
 4264.101142548128,
 8185.212646888268,
 9355.468860966057,
 3836.9211018275982,
 5887.5228290535415,
 1287.3753340610397,
 727.033586420855,
 1777.0704916715247,
 2043.240635093586,
 923.7677210217012,
 2938.604902529438,
 1925.4045829565534,
 1006.385148227598,
 23940.889531100725,
 28161.68499303452,
 784.6011175551923,
 1756.2795064286613,
 6770.64749987616,
 2127.6495583109586,
 4032.981723326155,
 19368.270520234797,
 19282.892093114508,
 2738.117483012947,
 3662.646312754625,
 1600.102065025501,
 470.49211029232714,
 4856.032617540132,
 19283.377040937692,
 4447.5453201241735,
 1306.6393497296958,
 1205.6355311849077,
 8776.027556499495,
 2564.3053571738274,
 3316.5731786235638,
 9688.100920829893,
 53789.59381906391,
 4673.631217324953,
 16410.214721206077,
 12780.88810562379,
 1114.7253075085437,
 9018.024546541565,
 1689.5040622235326,
 918.6740323744274,
 138.37702809229376,
 16226.910452957407,
 11578.643212421886,
 2214.4891812191754,
 2497.8148101041693,
 1133.5543976686035,
 264.4296720546895,
 908.6766398044463,
 10770.049978603301,
 33336.82474908798,
 9089.293136251197,
 437.55122938446755,
 5241.679575522535,
 29137.051374733408,
 2502.340461218652,
 32330.81749906379,
 23512.23758750213,
 28156.866007286317,
 71.73510379442067,
 5861.753150554162,
 668.640481616143,
 35162.368151074144,
 554.88570456848,
 26946.202477046372,
 17466.550991682874,
 3543.6186299544233,
 17178.79295417328,
 2217.1327919230903,
 5289.762326826671,
 8169.952298112035,
 1407.3598032874752,
 608.0733035264824,
 6321.715224639499,
 1505.710036094936,
 44783.21604550933,
 2107.3647025739897,
 9193.86962944888,
 13595.913571937304,
 3330.3274532002006,
 5045.042036502034,
 3763.6992341378013,
 22123.201173158268,
 9896.527041554576,
 315.68290250138807,
 4211.149281777016,
 8673.771937035273,
 63.319379567676854,
 1802.137149578442,
 1508.8548508025551,
 11889.04464194665,
 5354.17439130991,
 47687.33611290573,
 49638.6884737236,
 13978.660144186255,
 918.750152121321,
 5951.860041692171,
 26249.066133721008,
 901.8232552266583,
 4020.621653190501,
 43202.20109490826,
 22573.438074814418,
 15719.999455249466,
 936.2583680670303,
 51437.551805345545,
 2653.8642154268477,
 3219.9571672856696,
 103294.42170375669,
 14361.878650148921,
 986.6765890710675,
 8778.792984342872,
 605.6112285323522,
 20214.33638503142,
 6957.817988071994,
 18717.296149141,
 15296.15673093391,
 18609.733415153823,
 7571.561633416858,
 2724.5694797330725,
 18691.866095376583,
 8587.293547632089,
 17642.56531254978,
 11818.797767025577,
 1245.0000000000286,
 7657.9941182744415,
 2035.3933216284756,
 7647.212435834534,
 12160.022103532036,
 708.0996694731341,
 2024.3607515578472,
 15132.03069399759,
 16560.60142042014,
 29668.513320904887,
 3735.8841009619628,
 1265.7448659792735,
 196.02980011411185,
 1134.2451068998882,
 2074.2378747511398,
 3537.061819159785,
 3777.7270279030554,
 413.49973760501535,
 7382.346883257952,
 69172.21255678142,
 3888.429073654188,
 3075.781429935421,
 6259.780349432266,
 925.4687759608388,
 1677.6622449952754,
 8220.006049465273,
 4646.320429497337,
 1119.9500160597017,
 1112.480789113701,
 1174.1834821010905,
 3475.0824758220156,
 13034.326695007207,
 23.04438877964317,
 63186.049452965504,
 23407.167421177306,
 1925.123417393855,
 1829.7297610727917,
 37293.12104090084,
 5815.7230600195435,
 38234.94234205612,
 819.7630810595183,
 2185.5420477281946,
 42345.18856624126,
 79424.00978143021,
 34931.936487657455,
 83.90119692316256,
 6852.898937911184,
 1452.7689259050944,
 4033.747372449562,
 1109.970319238804,
 805.4195347638943,
 1527.00000000006,
 134.09121942239594,
 4288.62895781634,
 34175.95289730274,
 2052.5136956067304,
 1649.850787864075,
 430.6010484373258,
 13639.802508215482,
 1633.5036806270675,
 1702.0197124618671,
 1429.5107513478902,
 2132.5217509644526,
 5269.666922209464,
 4440.999999999625,
 3620.453198442921,
 12624.707699286602,
 797.0000000000001,
 1392.4515641023156,
 369.6865684921613,
 2141.574769321099,
 8916.230161782056,
 14996.385479027656,
 2080.3597803927323,
 356.3263177102106,
 168.74054150484787,
 2635.037903671838,
 20308.381060220738,
 8180.717693375325,
 1676.3273264912066,
 6376.609012662091,
 386.38253575098133,
 2529.4865645764594,
 820.0564197879432,
 11510.299946330188,
 1245.5889401742024,
 9629.490453340295,
 267.82374113809044,
 6665.578748953207,
 18684.585410743715,
 4037.292253770205,
 12706.722044907032,
 1036.4393829969465,
 6150.44602597624,
 15900.123236766944,
 484.92774144282134,
 1476.430768811276,
 8758.843301521665,
 14243.032519373939,
 3598.1878779210488,
 38967.97885063497,
 2045.5786415853577,
 418.4016950890218,
 8118.637005351728,
 23153.50615476929,
 576.0734581068547,
 1360.7890504630545,
 4535.669456765502,
 1012.0342282348164,
 4446.942492253917,
 27843.52168151064,
 4173.806757361581,
 15179.07977119335,
 29235.259142765477,
 1641.6699423562602,
 39718.342046162856,
 1276.5763294075928,
 2284.66866086329,
 3965.329391214761,
 4642.1449812244355,
 16817.602959297536,
 15144.859810859405,
 978.198511546081,
 34349.90018212727,
 6733.410438923643,
 2764.1157772798197,
 5442.163743148983,
 10251.52269994804,
 4576.648913057287,
 479.249575625163,
 2410.6305033044055,
 10242.187622690293,
 702.106207165547,
 1596.819448339683,
 1664.2602619920642,
 1026.00000000007,
 345.5367454439621,
 6947.4258667829945,
 654.0324916748342,
 359.686293033539,
 2144.3102672968853,
 2482.0142367562416,
 6655.452566330521,
 4038.3923597635985,
 835.9545819703067,
 4696.206706210042,
 12007.340996178626,
 28419.027030469682,
 56659.60693185984,
 4598.853734869088,
 12296.303741967391,
 41650.19561780609,
 2836.7121835887597,
 5074.56603000793,
 501.9132420358655,
 1093.6260622164787,
 1262.0754531614994,
 2902.3536272181736,
 457.5671928232257,
 4169.463726473506,
 2069.9534203612884,
 11390.362598125668,
 1397.536634651059,
 859.4877601737583,
 3563.4663242732004,
 38295.85365651088,
 4633.136767502832,
 320.9546583350746,
 809.44264043897,
 25942.76768187539,
 23953.27696911745,
 20.027116255684565,
 2158.5233956611555,
 11540.395930508656,
 1862.7593513480251,
 1751.0158980939782,
 1698.529149754561,
 497.7108123358529,
 596.4079817157318,
 5697.278783743392,
 3802.8254990913447,
 1981.829146413355,
 495.0682606347238,
 1507.448670185399,
 10739.019295514769,
 6380.529062318066,
 3674.976676838237,
 1319.9668584626095,
 367.3034998487766,
 2789.3853335890617,
 1049.1355342998784,
 2162.5178692135296,
 11330.710735521392,
 3863.7984446614028,
 3129.087033135562,
 2541.086903500587,
 18784.760892802682,
 26754.33204489302,
 12773.478683929055,
 3099.0854138350883,
 1634.4044848313258,
 28453.93289559836,
 9635.812764598095,
 1638.8215353781525,
 3891.335719247298,
 1312.3815737816633,
 20104.561591973328,
 9967.56268491766,
 13460.12903094657,
 8550.131079604662,
 3923.030005204456,
 7218.517486404731,
 20511.86685331247,
 492.1023333528964,
 16694.726948640513,
 370.52258849486446,
 6533.914398450508,
 2931.5074000911177,
 3823.8894943036507,
 2371.902597506466,
 23840.55643000227,
 4157.428841408256,
 20792.266397625728,
 580.4338876033163,
 27515.858516140954,
 1084.8304122673608,
 1482.5336635073695,
 3225.1874373622413,
 2167.979112091575,
 29977.328862357324,
 28534.552463335986,
 2437.886983753079,
 41805.97982520165,
 1525.2227755510128,
 7037.72156243359,
 33491.53179469491,
 1160.0975175423434,
 4006.528034523673,
 5354.064399595138,
 12505.305806329132,
 24755.323660785405,
 259.6337448932853,
 8833.072446113783,
 21212.459242950128,
 2177.5699825663455,
 20492.852218983197,
 988.9339374360726,
 34507.456037792785,
 2571.0726255532236,
 35899.49259084111,
 54896.33276581378,
 3079.0603565860442,
 7754.984571671176,
 12175.286330985919,
 2071.8632704516463,
 3101.801120316802,
 5496.179264681508,
 38015.573705104514,
 4448.91085223118,
 55823.53078317556,
 6463.86918596904,
 4302.359001809459,
 2045.3051529131176,
 4263.296293386106,
 1371.4739611151094,
 29125.57823234603,
 4801.968203827373,
 2929.0275810959197,
 9727.22412980638,
 5806.443776674376,
 911.8609622383295,
 2016.2234645603867,
 2431.140084759235,
 922.2199423660991,
 4481.8346637220875,
 3133.3454846609043,
 2435.050091390348,
 7700.992756645342,
 2663.205341631136,
 3466.737906811439,
 18542.94110335855,
 30297.30033949873,
 1151.1948228517974,
 19319.639996534734,
 56677.31870766885,
 2700.668639358334,
 1017.2989111211177,
 912.7669753838501,
 852.1603810366308,
 48107.27173588,
 1376.5691046867946,
 19896.69904938561,
 2797.3123270838696,
 3568.788987537237,
 2086.819527914021,
 9059.053958634608,
 7325.361998810922,
 15.235260900669035,
 1650.6663235829842,
 975.7067635250078,
 58635.91679907684,
 12511.743621373407,
 2475.1622514179626,
 16010.000477790432,
 14641.886778133965,
 30850.355704825884,
 18343.92495902208,
 431.80227276239236,
 3048.2839061542127,
 7381.620165833112,
 2153.82237169043,
 2882.515256068549,
 667.8489805509611,
 22019.5855109113,
 3135.608957271152,
 2063.8782502310687,
 2151.8667527094017,
 793.8716854272283,
 28935.05391466014,
 2512.3673411631135,
 5527.629214799211,
 1881.4945065750503,
 9544.259272909845,
 23096.55956367801,
 1518.9661837744313,
 2329.158684221619,
 4535.763499309965,
 1241.71681576551,
 1055.8117978066116,
 3069.3230350105996,
 2446.5066624356973,
 13227.09794427096,
 1707.9077133582941,
 1193.6534164417521,
 34921.98751124495,
 1704.536753350605,
 436.4148907887661,
 26313.27418859184,
 667.9930756828611,
 24456.177854650785,
 1895.5350226487706,
 1056.843127635368,
 13848.30290836396,
 1875.6678634006428,
 6955.013329477734,
 9273.783675785926,
 2639.045176016812,
 1488.999863796167,
 467.1318796233867,
 1226.1434343063952,
 438.6873174823906,
 2679.0722839109712,
 2983.300743822424,
 1304.8110843802353,
 28454.032289921535,
 6161.013271537032,
 5010.734697401152,
 25935.527708827914,
 9819.805737476605,
 988.3454319247359,
 10956.580201564435,
 896.0796879887839,
 2104.989732923409,
 3993.4989752290903,
 2008.604767621781,
 2779.2948419035383,
 1366.3732874140078,
 362.8858612583331,
 737.6782786476147,
 15615.66199091207,
 967.4558636510244,
 495.7584402417889,
 6312.3848000974685,
 430.71856870617563,
 2758.018527942451,
 2671.2058150286475,
 3983.1687010413925,
 0.051018852912118516,
 1935.5410263937,
 6015.270805704678,
 1074.0708620432185,
 12702.98263326146,
 56045.58528174278,
 43837.96098471257,
 11305.156505582268,
 2409.261192512463,
 3569.0048053204873,
 14798.960658752358,
 585.1294044340256,
 1761.4985866752515,
 524.648012021177,
 16669.348438350837,
 53746.9646916885,
 834.9888035218544,
 36811.99992673753,
 6507.885298952382,
 80642.69783790765,
 13748.709758694135,
 253.86820183424257,
 1119.4577778031,
 4593.523646969903,
 1982.3023811776256,
 1136.7411614516132,
 1240.5836325213845,
 1766.973748095279,
 73.92435717131283,
 4327.4945077958055,
 615.132547569767,
 35801.05566785673,
 5192.421523415099,
 32670.01322671383,
 3818.127224869722,
 1207.1137244688643,
 2927.048418287922,
 21810.931384762123,
 1197.4320119612582,
 5843.367780138395,
 2593.2454043212747,
 1421.4772495894747,
 3347.910596611927,
 3165.2769856222744,
 37664.71016070119,
 3433.583245550066,
 785.129617071323,
 12220.404694745943,
 2060.0261948154944,
 45385.33621197379,
 4362.002374534202,
 8254.43314252581,
 1035.0156766775272,
 6975.516836730398,
 7253.583853867035,
 3814.0515982238544,
 6727.396720535036,
 6286.339954071468,
 237.41541571360918,
 36621.97854242833,
 3778.7385137076158,
 11053.277601186415,
 1841.6058794583487,
 9383.471657796119,
 814.6412011372327,
 1074.779047505574,
 40.48781724668737,
 9554.86027277567,
 2555.1393187914173,
 10403.15514308166,
 9398.049983966495,
 5395.908889577192,
 428.54657862659485,
 18335.350900491325,
 378.8536318558237,
 3342.899690065957,
 10318.155986684382,
 4998.165005852431,
 21972.523275040905,
 530.6830336734491,
 30944.908728322764,
 713.0977664099034,
 12606.663792082769,
 26258.630354713612,

In [35]:
import scipy.stats as stats

t_statistic, p_value = stats.ttest_rel(area, centroid)

print(f"T-statistic: {t_statistic}, P-value: {p_value}")

T-statistic: -0.3577212379467644, P-value: 0.7206206258238588

In [49]:
gdf_blocks.head()

,STATEFP,COUNTYFP,TRACTCE,BLKGRPCE,POPULATION,LATITUDE,LONGITUDE,geometry
0,1,1,20100,1,575,32.464466,-86.486302,POINT (-5355062.078 4200460.527)
1,1,1,20100,2,1200,32.482744,-86.486741,POINT (-5353306.657 4201527.272)
2,1,1,20200,1,974,32.478370,-86.474486,POINT (-5353145.986 4200271.135)
3,1,1,20200,2,1081,32.466065,-86.470884,POINT (-5354169.566 4199280.412)
4,1,1,20300,1,2377,32.477855,-86.459855,POINT (-5352496.506 4199036.946)

### Old Code Below here

In [11]:
dci_comm = gdf_dci.iloc[4].geometry

In [31]:
print(result.to_crs(9822).crs.axis_info[0].unit_name)

metre

In [28]:
result.to_crs(9822).geometry.area

36701    1.212694e+06
36702    4.534280e+05
36703    8.698111e+05
36704    1.657655e+06
36716    1.332822e+06
36717    8.357953e+05
36718    8.629863e+05
36719    1.128168e+06
36720    5.058099e+06
36721    5.955474e+05
36759    5.333531e+06
36780    8.157156e+06
dtype: float64

In [38]:
# Compute the intersections with every geometry in gdf2
gdf_tracts['intersections'] = gpd.GeoSeries(gdf_tracts['geometry'].intersection(dci_comm)).to_crs(9822)
result = gdf_tracts.loc[~gdf_tracts['intersection'].is_empty, ['total_pop', 'intersections', 'geometry']]
result = result.to_crs(9822) # Alber Equal Area
result['allocated_pop'] = result.total_pop * result.intersections.area/result.geometry.area

# Filter out the empty geometries
# non_empty_intersections = intersections[~intersections.is_empty]

In [39]:
result.allocated_pop

36701    3.263590e-10
36702    7.920601e+02
36703    1.884389e+03
36704    2.705071e+01
36716    1.415373e+02
36717    2.620588e+03
36718    3.541617e+03
36719    2.574435e+03
36720    1.455906e-10
36721    0.000000e+00
36759    8.149060e-11
36780    1.871436e-10
Name: allocated_pop, dtype: float64

In [59]:
result.allocated_pop.sum()

11581.677226702635

Now need to do this with the population weighted centroid

In [46]:
from shapely.geometry import Point

In [44]:
df_tracts = pd.read_csv(TRACTS_CENTROID)

In [45]:
df_tracts.head()

   STATEFP  COUNTYFP  TRACTCE  POPULATION   LATITUDE  LONGITUDE
0        1         1    20100        1775  32.476823 -86.486599
1        1         1    20200        2055  32.471897 -86.472591
2        1         1    20300        3216  32.474583 -86.459254
3        1         1    20400        4246  32.468656 -86.442995
4        1         1    20501        4322  32.451532 -86.424422

In [47]:
df_tracts['geometry'] = df_tracts.apply(lambda row: Point(row['LONGITUDE'], row['LATITUDE']), axis=1)

In [54]:
gdf_tracts_centroid = gpd.GeoDataFrame(df_tracts)

In [56]:
gdf_tracts_centroid.crs = 9822

In [57]:
gdf_tracts_centroid.head()

,STATEFP,COUNTYFP,TRACTCE,POPULATION,LATITUDE,LONGITUDE,geometry
0,1,1,20100,1775,32.476823,-86.486599,POINT (-86.487 32.477)
1,1,1,20200,2055,32.471897,-86.472591,POINT (-86.473 32.472)
2,1,1,20300,3216,32.474583,-86.459254,POINT (-86.459 32.475)
3,1,1,20400,4246,32.468656,-86.442995,POINT (-86.443 32.469)
4,1,1,20501,4322,32.451532,-86.424422,POINT (-86.424 32.452)

In [60]:
gdf_tracts_centroid['is_within'] = gdf_tracts_centroid['geometry'].apply(lambda geom: geom.within(dci_comm))

In [61]:
gdf_tracts_centroid.head()

,STATEFP,COUNTYFP,TRACTCE,POPULATION,LATITUDE,LONGITUDE,geometry,is_within
0,1,1,20100,1775,32.476823,-86.486599,POINT (-86.487 32.477),False
1,1,1,20200,2055,32.471897,-86.472591,POINT (-86.473 32.472),False
2,1,1,20300,3216,32.474583,-86.459254,POINT (-86.459 32.475),False
3,1,1,20400,4246,32.468656,-86.442995,POINT (-86.443 32.469),False
4,1,1,20501,4322,32.451532,-86.424422,POINT (-86.424 32.452),False

In [62]:
results_centroid = gdf_tracts_centroid[gdf_tracts_centroid['is_within']]

In [65]:
results_centroid.head()

,STATEFP,COUNTYFP,TRACTCE,POPULATION,LATITUDE,LONGITUDE,geometry,is_within
36702,25,13,801102,1155,42.099237,-72.583094,POINT (-72.583 42.099),True
36703,25,13,801200,2726,42.109322,-72.583787,POINT (-72.584 42.109),True
36717,25,13,801901,3954,42.094700,-72.571346,POINT (-72.571 42.095),True
36718,25,13,801902,3556,42.102610,-72.577042,POINT (-72.577 42.103),True
36719,25,13,802000,2736,42.095008,-72.579091,POINT (-72.579 42.095),True

In [66]:
results_centroid.POPULATION.sum()

14127

In [67]:
# Do this for some counties just to make sure you're not dumb